@use 'variables' as *;

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  border: none;
  background: none;
  cursor: pointer;
}

button:focus-visible {
  outline: 2px solid $color-blue-3;
  outline-offset: 2px;
}
